<p><b>Employeesnew</b></p>
<div *ngFor="let person of Employeenew">
  <p>id:{{person.id}}</p>
  <p>firstName: {{person.id}}</p>
  <p>lastName: {{person.name}}</p>
  <p>department: {{person.department}}</p>
  <p>Organization: {{person.organization.name }}</p>
  <p>Organization: {{person.organization.location }}</p>
  <p>Education: {{person.education.degree}}</p>
  <p>Degree: {{person.education.degree}}</p>
  <p>Major: {{person.education.major}}</p>
  <p>School: {{person.education.school}}</p>
  </div>